BACKEND_WEBHOOK_SECRET=change_me_shared_secret
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_ADMIN_CHAT_ID=your_admin_chat_id
TELEGRAM_USER_CHAT_IDS=user_chat_id_1,user_chat_id_2
GOOGLE_APPS_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/your_web_app_id/exec
RECORDINGS_TTL_DAYS=30
CLEANUP_INTERVAL_HOURS=24
